<h2><%= @book.title %></h2>
<h3><%= @book.description %></h3>
<h4><%= @book.author %></h4>


<%= link_to 'Back', root_path %>
<%= link_to 'Edit', edit_book_path(@book) %><hr>

<%= button_to 'Delete', book_path(@book), confirm: 'Are You Sure..?', method: :delete %>
